*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0;
  font-family: "Poppins";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root {
  --current-font: Fredoka One, sans-serif;
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --first-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --third-text-color: #000000;
  --mark-color: #009146;
  --btn-mark-color: #009146;
  --main-site-section: #2f303a;
  --thumb-background-color: #f5f4fa;
  --line-color: #ececec;
  --border-color: #eeeeee;
  --current-placeholder-color: rgba(117, 117, 117, 0.5);
  --social-background-color: rgba(255, 255, 255, 0.1);
  --social-link-color: #afb1b8;
  --overlay-color: rgba(0, 0, 0, 0.2);
  --duration: 250ms;
  --function: cubic-bezier(0.4, 0, 0.2, 1);
  --about-text-bgc: rgba(47, 48, 58, 0.8);
  --overlay-card-color: rgba(33, 150, 243, 0.9);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.lists {
  list-style: none;
  list-style-type: none;
}

img {
  display: block;
  height: auto;
}

a {
  color: #fff;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  color: #000;
  font-family: "Poppins";
}

.container {
  min-width: 200px;
  margin: 0 auto;
}

.main .container {
  max-width: 360px;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .main .container {
    max-width: 696px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 390px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  padding: 60px 0;
}

.section.main {
  padding: 0;
}

.button__main {
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: #78be20;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  width: 166px;
  height: 60px;
  border-color: #6d8c18;
  border-radius: 20px;
  font-family: "Poppins";
  padding: 16px 28px;
  gap: 4px;
  /* position: absolute; */
  width: 280px;
  height: 56px;
  /* left: 23px; */
  /* top: 244px; */
  background: linear-gradient(180deg, #00bf5c 0%, #009146 100%);
  border-radius: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

@media screen and (min-width: 768px) {
  .button__main {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #78be20;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    font-size: 26.285px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 3px 0.99px rgba(0, 0, 0, 0.49);
    transition-duration: var(--duration);
    transition-timing-function: var(--function);
    width: 220px;
    height: 60px;
    border-color: #6d8c18;
    border-radius: 20px;
    box-shadow: 0 1rem 1.25rem 0 rgba(0, 0, 0, 0.5), 0 -0.25rem 1.5rem #325d30 inset, 0 0.75rem 0.5rem rgba(114, 133, 114, 0.4) inset, 0 0.25rem 0.5rem 0 #53f35b inset;
  }
}
@media screen and (min-width: 1200px) {
  .button__main {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #78be20;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    font-size: 26.285px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 3px 0.99px rgba(0, 0, 0, 0.49);
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    width: 240px;
    height: 60px;
    margin-bottom: 18px;
    border-color: #6d8c18;
    border-radius: 20px;
    box-shadow: 0 1rem 1.25rem 0 rgba(0, 0, 0, 0.5), 0 -0.25rem 1.5rem #325d30 inset, 0 0.75rem 0.5rem rgba(114, 133, 114, 0.4) inset, 0 0.25rem 0.5rem 0 #53f35b inset;
  }
}
@media screen and (min-width: 1900px) {
  .button__main {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #78be20;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    font-size: 26.285px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 3px 0.99px rgba(0, 0, 0, 0.49);
    width: 266px;
    height: 60px;
    border-color: #6d8c18;
    border-radius: 20px;
    box-shadow: 0 1rem 1.25rem 0 rgba(0, 0, 0, 0.5), 0 -0.25rem 1.5rem #325d30 inset, 0 0.75rem 0.5rem rgba(114, 133, 114, 0.4) inset, 0 0.25rem 0.5rem 0 #53f35b inset;
  }
}
.button__main:hover {
  transform: perspective(1px) translateZ(0);
}

.button__main:focus {
  color: #fff;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.button__window {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  min-height: 30px;
  min-width: 30px;
  padding: 0;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button__window4 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11px;
  right: 11px;
  min-height: 30px;
  min-width: 30px;
  padding: 0;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button__window4:focus,
.button__window4:hover {
  color: brown;
}

.button__window5 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11px;
  right: 11px;
  min-height: 30px;
  min-width: 30px;
  padding: 0;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button__window5:focus,
.button__window5:hover {
  color: brown;
}

.icon__grade {
  width: 150px;
}

@media screen and (min-width: 1200px) {
  .icon__grade-width {
    width: 180px;
  }
}
.icon__footer-age {
  margin: 10px auto 15px;
}

@media screen and (min-width: 1200px) {
  .icon__footer-age {
    width: 40px;
    height: 40px;
    margin-right: auto;
    padding: 0px;
  }
}
.icon__close4 {
  fill: currentColor;
  width: 18px;
  height: 18px;
}

.window__input:focus + .icon__window-img {
  fill: var(--mark-color);
}

.icon__window-img {
  width: 18px;
  height: 18px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(12px, 28px);
  color: #000000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__check {
  width: 16px;
  height: 15px;
  fill: currentColor;
}

.icon__client {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.icon__mob-menu {
  width: 40px;
  height: 40px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__mail {
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .icon__mail {
    width: 16px;
    height: 12px;
  }
}
.icon__tel {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .icon__tel {
    width: 10px;
    height: 16px;
  }
}
.icon__menu-close {
  width: 40px;
  height: 40px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__close5 {
  fill: currentColor;
  width: 18px;
  height: 18px;
}

.window__backcloth {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.window__backcloth6 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.window__backcloth7 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.window__backcloth8 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.window__backcloth9 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.window__backcloth15 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.window__backcloth.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.window__backcloth6.is-hidden6 {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.window__backcloth7.is-hidden7 {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.window__backcloth8.is-hidden8 {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.window__backcloth9.is-hidden9 {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.window__backcloth15.is-hidden15 {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.window__backcloth.is-hidden > .window {
  opacity: 0;
  transform: translate(-50%, -50%) scale(2.9);
}

.window__backcloth6.is-hidden6 > .window6 {
  opacity: 0;
  transform: translate(-50%, -50%) scale(2.9);
}

.window__backcloth7.is-hidden7 > .window7 {
  opacity: 0;
  transform: translate(-50%, -50%) scale(2.9);
}

.window__backcloth8.is-hidden8 > .window8 {
  opacity: 0;
  transform: translate(-50%, -50%) scale(2.9);
}

.window__backcloth9.is-hidden9 > .window9 {
  opacity: 0;
  transform: translate(-50%, -50%) scale(2.9);
}

.window__backcloth15.is-hidden15 > .window15 {
  opacity: 0;
  transform: translate(-50%, -50%) scale(2.9);
}

.window {
  overflow: scroll;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: 60%;
  padding: 15px 0px;
  background-color: var(--main-title-color);
  opacity: 1;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

@media screen and (min-width: 480px) {
  .window {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .window {
    width: 528px;
  }
}
.window6 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: auto;
  padding: 15px;
  background-color: var(--main-title-color);
  opacity: 1;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

@media screen and (min-width: 480px) {
  .window6 {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .window6 {
    width: 528px;
  }
}
.window7 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: auto;
  padding: 15px;
  background-color: var(--main-title-color);
  opacity: 1;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

@media screen and (min-width: 480px) {
  .window7 {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .window7 {
    width: 528px;
  }
}
.window8 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: auto;
  padding: 15px;
  background-color: var(--main-title-color);
  opacity: 1;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

@media screen and (min-width: 480px) {
  .window8 {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .window8 {
    width: 528px;
  }
}
.window9 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: auto;
  padding: 15px;
  background-color: var(--main-title-color);
  opacity: 1;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

@media screen and (min-width: 480px) {
  .window9 {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .window9 {
    width: 528px;
  }
}
.window15 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: auto;
  padding: 15px;
  background-color: var(--main-title-color);
  opacity: 1;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

@media screen and (min-width: 480px) {
  .window15 {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .window15 {
    width: 528px;
  }
}
.window__heading {
  margin-top: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: white;
}

.window__heading2 {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: black;
}

.window__form {
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 10px;
  color: #212121;
}

.window__thumb {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.window__thumb:last-of-type {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}

.window__thumb:last-of-type:hover > .window-check {
  border: 2px solid #2196f3;
}

.window__thumb:last-of-type:hover > .window__check,
.window__thumb:last-of-type:focus-within > .window__check {
  border: 2px solid #2196f3;
}

.window__checkbox-input:checked + .window-check {
  border: 2px solid transparent;
  background-color: #2196f3;
}

.window__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #000000;
}

.window__input5 {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.window__input5:focus {
  border-color: #9927b5;
}

.window__input5::placeholder {
  color: #2d2d2d;
}

.window__input5:focus + .icon__window-img {
  fill: var(--mark-color);
}

.window__input5._error {
  box-shadow: 0 0 0 5px #f9da49;
}

.window__thumb-textarea {
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
  .window__thumb-textarea {
    margin-bottom: 20px;
  }
}
.window__area {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  margin: 0;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--mark-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.window__area:focus {
  border-color: var(--mark-color);
}

.window__area::placeholder {
  color: rgba(170, 169, 169, 0.987);
  font-weight: 200;
}

.window__checkbox {
  text-align: center;
}

.window-check {
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
  background-color: #fff;
  transition-property: background-color, border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.window__policy {
  font-size: 7px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

@media screen and (min-width: 480px) {
  .window__policy {
    font-size: 12px;
    line-height: 1.71;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .window__policy {
    font-size: 14px;
  }
}
.window__check span:hover,
.window__checkbox-input:focus + .window__policy span {
  border: 2px solid #000000;
}

.window__checkbox-input:checked + .window__policy span {
  background-color: var(--mark-color);
  border: 0;
}

.window__checkbox-input:checked + .window__policy .icon-check {
  fill: var(--main-title-color);
}

.window__link {
  color: var(--mark-color);
  text-decoration-skip-ink: none;
}

.window-button {
  text-align: center;
}

.window-button__btn {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  padding: 10px 29px;
  height: 50px;
  color: #fff;
  background-color: #9927b5;
  font-weight: 200;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .window-button__btn {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}
.window__main-text {
  padding: 10px;
  color: #000;
  font-size: 12px;
  width: 100%;
}

.window__link-btn {
  display: block;
  margin: 5px;
}

.window__close {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: brown;
  cursor: pointer;
}

.window__close:hover {
  cursor: pointer;
}

.window__close6 {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: brown;
  cursor: pointer;
}

.window__close6:hover {
  cursor: pointer;
}

.window__close7 {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: brown;
  cursor: pointer;
}

.window__close8 {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: brown;
  cursor: pointer;
}

.window__close9 {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: brown;
  cursor: pointer;
}

.window__backcloth2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.window__backcloth2.is-hidden2 {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.window__backcloth2.is-hidden2 > .window2 {
  opacity: 0;
  transform: translate(-50%, -50%) scale(2.9);
}

.window2 {
  overflow: scroll;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: 60%;
  padding: 15px 0px;
  background-color: var(--main-title-color);
  opacity: 1;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}
@media screen and (min-width: 480px) {
  .window2 {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .window2 {
    width: 528px;
  }
}

.window__close2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  display: block;
  color: brown;
  margin-top: 20px;
  cursor: pointer;
}

.window__backcloth3 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.window__backcloth3.is-hidden3 {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.window__backcloth3.is-hidden4 > .window3 {
  opacity: 0;
  transform: translate(-50%, -50%) scale(2.9);
}

.window3 {
  overflow: scroll;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: 60%;
  padding: 15px 0px;
  background-color: var(--main-title-color);
  opacity: 1;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}
@media screen and (min-width: 480px) {
  .window3 {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .window3 {
    width: 528px;
  }
}

.window__close3 {
  margin-bottom: 10px;
  text-transform: uppercase;
  display: block;
  color: brown;
  margin-top: 20px;
  cursor: pointer;
}

.window__backcloth4 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.window__backcloth4.is-hidden4 {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.window__backcloth4.is-hidden4 > .window4 {
  opacity: 0;
  transform: translate(-50%, -50%) scale(2.9);
}

.window4 {
  overflow: scroll;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: 60%;
  padding: 15px 0px;
  background-color: var(--main-title-color);
  opacity: 1;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}
@media screen and (min-width: 480px) {
  .window4 {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .window4 {
    width: 528px;
  }
}

.window__close4 {
  margin-bottom: 10px;
  text-transform: uppercase;
  display: block;
  color: brown;
  margin-top: 20px;
  cursor: pointer;
}

.window__p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.window__ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.window__backcloth5 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.window__backcloth5.is-hidden5 {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.window__backcloth5.is-hidden5 > .window5 {
  opacity: 0;
  transform: translate(-50%, -50%) scale(2.9);
}

.window5 {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  width: 90%;
  height: auto;
  padding: 40px;
  background-color: var(--main-title-color);
  opacity: 1;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: opacity, transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
}

@media screen and (min-width: 480px) {
  .window5 {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .window5 {
    width: 528px;
  }
}
.window__close5 {
  margin-bottom: 10px;
  text-transform: uppercase;
  display: block;
  color: brown;
  margin-top: 20px;
  cursor: pointer;
}

.window__heading5 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 20px;
}

.window__form5 {
  position: relative;
  display: block;
  text-align: left;
  color: #212121;
}

.window__thumb5 {
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 30px;
  color: #212121;
}

.overlay__text {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9);
  color: #fff;
  padding: 20px 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.56em;
  letter-spacing: 0.03em;
  transform: translatey(101%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link__main:hover .overlay__text {
  display: block;
}

.mainbox__aside {
  position: relative;
  overflow: hidden;
}

.header {
  background-size: 100% auto;
  background-repeat: no-repeat;
  max-width: 100vw;
}

@media screen and (min-width: 480px) {
  .header {
    max-width: 100vw;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .header {
    max-width: 100vw;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    max-width: 100vw;
    max-width: 1920px;
    height: 100%;
  }
}
@media screen and (min-width: 1600px) {
  .header {
    max-width: 100vw;
  }
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .main {
    width: 100%;
    max-width: 100vw;
  }
}
@media screen and (min-width: 1200px) {
  .main {
    max-width: 100vw;
    display: flex;
    align-items: center;
    background: #270a3a;
    height: 0px;
  }
}
.main__block {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.main__slotsstar {
  position: absolute;
  height: 221px;
  width: 319px;
  top: -1141px;
  margin-left: 33px;
}

@media screen and (min-width: 768px) {
  .main__slotsstar {
    height: 260px;
    width: 358px;
    top: -970px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .main__slotsstar {
    position: absolute;
    height: 269px;
    width: 396px;
    top: -680px;
    margin-left: 39px;
  }
}
@media screen and (min-width: 1600px) {
  .main__slotsstar {
    position: absolute;
    height: 269px;
    width: 396px;
    top: -625px;
    margin-left: 39px;
  }
}
.main__slots {
  padding-top: 24px;
  background-color: #fff;
  margin: 0px auto;
  height: 115px;
  width: 460px;
  border-radius: 0 0 50% 50%/0 0 30px 30px;
  width: 245px;
}

@media screen and (min-width: 768px) {
  .main__slots {
    padding-top: 49px;
    background-color: #fff;
    margin: 0px auto;
    height: 145px;
    width: 460px;
    border-radius: 0 0 50% 50%/0 0 30px 30px;
    width: 295px;
  }
}
@media screen and (min-width: 1200px) {
  .main__slots {
    padding-top: 100px;
    background-color: #fff;
    margin: 0px auto;
    height: 215px;
    width: 331px;
    border-radius: 0 0 50% 50%/0 0 30px 30px;
  }
}
.main__logo {
  padding: 8px;
  display: block;
  margin: 0 auto;
  height: 85px;
}

@media screen and (min-width: 1200px) {
  .main__logo {
    padding: 8px;
    height: 110px;
  }
}
.main__5stars {
  display: block;
  margin: 0 auto;
  width: 132px;
  height: 42px;
}

@media screen and (min-width: 1200px) {
  .main__5stars {
    display: block;
    margin: 0 auto;
    width: 132px;
    height: 47px;
  }
}
.title__main {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title__main {
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .title__main {
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
}
.mark-color {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  text-align: center;
  text-transform: capitalize;
  font-family: "Poppins";
  /* Main / Grey Dark */
  color: #2d445c;
}

.depTitle {
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "Poppins";
  /* identical to box height, or 200% */
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  /* Text / Grey 1 */
  color: #8395a8;
  opacity: 0.5;
}

.main__box {
  border-radius: 0 0 15% 15%;
  border: 4px solid #d8b367;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 3px #f9da49;
  box-shadow: 0px 0px 10px 3px #f9da49;
  margin-top: -952px;
  margin-left: 3px;
}

@media screen and (min-width: 768px) {
  .main__box {
    border-radius: 0 0 15% 15%;
    border: 4px solid #d8b367;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 3px #f9da49;
    box-shadow: 0px 0px 10px 3px #f9da49;
    margin-top: -750px;
    margin-left: 3px;
  }
}
@media screen and (min-width: 1200px) {
  .main__box {
    border-radius: 0 0 15% 15%;
    border: 4px solid #d8b367;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 3px #f9da49;
    box-shadow: 0px 0px 10px 3px #f9da49;
    margin-top: -520px;
    margin-left: 9px;
  }
}
@media screen and (min-width: 1600px) {
  .main__box {
    margin-top: -450px;
  }
}
.main__item {
  margin-bottom: 5%;
}

.link__main {
  font-size: 12px;
  position: relative;
  text-decoration: underline;
  color: #fff;
}

.tc-addW {
  font-size: 8px;
  text-decoration: underline;
  display: block;
  color: #fff;
  position: relative;
}

.desktop-addW {
  display: none;
}

.addW-content {
  display: none;
  background: #fff;
  padding: 10px;
  position: absolute;
  margin: 10px 0 0;
  color: #000;
  z-index: 99;
  font-size: 12px;
  left: 0;
  right: 0;
}

.tc-addW:hover ~ .addW-content {
  display: none;
}

@media screen and (min-width: 1200px) {
  .tc-addW:hover ~ .addW-content {
    display: block;
  }
}
.grade__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .grade__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .grade__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
  }
}
@media screen and (min-width: 1600px) {
  .grade__list {
    margin-bottom: -70px;
  }
}
.grade__box {
  border: 2px solid #fff;
  background: #f2f6ff;
  border-radius: 25px;
  max-width: 1199px;
  height: 480px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px 3px #f9f9f9;
  box-shadow: 0px 0px 10px 3px #f9f9f9;
  align-items: center;
  width: 335px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .grade__box {
    border: 2px solid #fff;
    border-radius: 50px;
    max-width: 1199px;
    height: 205px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0px 0px 10px 3px #f9f9f9;
    box-shadow: 0px 0px 10px 3px #f9f9f9;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .grade__box {
    border: 2px solid #fff;
    border-radius: 50px;
    max-width: 1199px;
    height: 205px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0px 0px 10px 3px #f9f9f9;
    box-shadow: 0px 0px 10px 3px #f9f9f9;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .grade__box {
    width: 768px;
    margin-bottom: 75px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .grade__box {
    width: 1025px;
    flex-direction: row;
    height: 170px;
  }
}
.grade {
  background-repeat: repeat;
  background-size: cover;
  background-size: 100% 100%;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .grade {
    margin-top: -460px;
    background-repeat: repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-position: center center;
  }
}
@media screen and (min-width: 1200px) {
  .grade {
    margin-top: -6px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
  }
}
@media screen and (min-width: 1600px) {
  .grade {
    margin-top: 43px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-position: center center;
  }
}
.grade__item {
  width: 100%;
}

.grade__box-1 {
  border-radius: 44px 44px 0 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .grade__box-1 {
    border-radius: 44px 0 0 44px;
    height: 203px;
    width: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}
@media screen and (min-width: 1200px) {
  .grade__box-1 {
    border-radius: 44px 0 0 44px;
    height: 170px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}

.grade__stars-box {
  display: flex;
  height: 65px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .grade__stars-box {
    display: flex;
    height: 203px;
    width: 300px;
    border-radius: 0 15% 15% 0/0 100px 100px 0px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}
@media screen and (min-width: 1200px) {
  .grade__stars-box {
    display: flex;
    height: 168px;
    width: 300px;
    border-radius: 0 15% 15% 0/0 100px 100px 0px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}
@media screen and (min-width: 1900px) {
  .grade__stars-box {
    display: flex;
    height: 166px;
    width: 350px;
    border-radius: 0 15% 15% 0/0 100px 100px 0px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}
.grade__stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.grade__stars li {
  margin-bottom: 15px;
}

.grade__img-number {
  display: flex;
}

@media screen and (min-width: 320px) {
  .grade__text {
    padding: 0 10px;
    font-size: 16px;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
  }
}
@media screen and (min-width: 768px) {
  .grade__text {
    font-size: 23px;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
  }
}
@media screen and (min-width: 1200px) {
  .grade__text {
    font-size: 26px;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
  }
}
@media screen and (min-width: 1900px) {
  .grade__text {
    font-size: 32px;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
  }
}
@media screen and (min-width: 320px) {
  .grade__number {
    font-size: 19px;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
    margin-left: 6%;
  }
}
@media screen and (min-width: 768px) {
  .grade__number {
    font-size: 23px;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
    margin-left: 6%;
  }
}
@media screen and (min-width: 1200px) {
  .grade__number {
    font-size: 27px;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
    margin-left: 6%;
  }
}
@media screen and (min-width: 1900px) {
  .grade__number {
    font-size: 32px;
    color: #804cb9;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0px 2px 0.99px rgba(0, 0, 0, 0.38);
    margin-left: 6%;
  }
}
.grade__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: -webkit-fill-available;
  margin-top: 20px;
}

.grade__content li {
  margin-bottom: 5px;
}

.grade__content2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: -webkit-fill-available;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .grade__content {
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .grade__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.title__main-margin {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .title__main-margin {
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-left: 50px;
    margin-right: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .title__main-margin {
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-left: 10px;
    margin-right: 36px;
    width: 212px;
  }
}
.grade__tc-links {
  font-size: 12px;
  position: relative;
  text-decoration: none;
  margin: 0 0 20px 0;
  text-align: right;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .grade__tc-links {
    padding-right: 130px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
.grade__tc-links a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.grade__link {
  margin: 0 10px 0 0;
}

.footer {
  background: #eff5f9;
  padding: 15px 0;
  display: block;
}

.footer a {
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  font-family: "Poppins";
  text-align: center;
  text-transform: uppercase;
  color: #009246;
}

.text-uppercase {
  text-transform: uppercase;
  font-size: 1em;
}

.footer__container {
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding: 0 4%;
  font-size: 14px;
}

.footer__item {
  margin-top: 9px;
}

.footer__texts {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .footer__texts {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__texts {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
}
@media screen and (min-width: 1900px) {
  .footer__texts {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
}

.footer--mark {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #f9da49;
  text-underline-position: unset;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__thumb {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__thumb {
    margin-right: 0;
    align-items: center;
  }
}

.footer__thumb--mail {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.footer__thumb--contact {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #f9da49;
  text-underline-position: unset;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  margin-left: 80px;
}

.scroll:hover {
  fill: #fff;
  stroke: #000;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }
  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }
  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }
  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }
  25%, 55%, 75%, 87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
.scroll {
  position: absolute;
  top: 93%;
  left: 89%;
  z-index: 3;
  height: 40px;
  width: 40px;
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.3411764706);
  animation: myAnim 6s ease 0s infinite normal both;
}
@media screen and (min-width: 1200px) {
  .scroll {
    top: 88%;
    left: 70%;
    z-index: 3;
    height: 60px;
    width: 60px;
  }
}

.width888 {
  width: 120px;
}
@media screen and (min-width: 1200px) {
  .width888 {
    width: 180px;
  }
}

@media screen and (min-width: 1200px) {
  .width {
    width: 240px;
  }
}

.wCh {
  width: 170px;
}

@media screen and (min-width: 1200px) {
  .widthCherry {
    width: 196px;
  }
}

.Leo {
  width: 80px;
  padding: 5px;
}
@media screen and (min-width: 1200px) {
  .Leo {
    width: 110px;
    padding: 0px;
  }
}

.crown {
  position: absolute;
  left: calc(50% - 30px + 0.5px);
  top: -6%;
}
@media screen and (min-width: 1200px) {
  .crown {
    left: calc(50% - 535px + 0.5px);
    top: -14%;
  }
}

.flag {
  position: absolute;
  width: 91.57px;
  height: 81.82px;
  left: 254px;
  top: -13px;
}
@media screen and (min-width: 1200px) {
  .flag {
    left: 93%;
  }
}

.widthTape {
  width: 355px;
}

.payments {
  width: 60px;
  height: 10px;
}

.paymentsApple {
  width: 25px;
  height: 10px;
}

.paymentsM {
  width: 50px;
  height: 10px;
}

.paymentsRev {
  width: 45px;
  height: 10px;
}

.paymentsVisa {
  width: 35px;
  height: 10px;
}

.paymentsJet {
  width: 35px;
  height: 10px;
}

.grade__payments {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 220px;
  margin-top: -40px;
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  text-transform: lowercase;
  color: #8395a8;
}

.cookiebar {
  width: 100vw;
  background: rgb(255, 255, 255);
  position: fixed;
  z-index: 1000;
  bottom: 0;
  padding: 20px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.cookiebar__priv {
  text-decoration: underline;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #009246;
}

.cookiebar__button {
  padding: 10px 10px;
  gap: 4px;
  border: 1px solid #019649;
  border-radius: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: capitalize;
  color: #019548;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  margin: 0px auto;
}

.hidden {
  display: none;
}

.header__title {
  z-index: 9;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: #000 2px 0px 0px, #000 1.75517px 0.95885px 0px, #000 1.0806px 1.68294px 0px, #000 0.14147px 1.99499px 0px, #000 -0.83229px 1.81859px 0px, #000 -1.60229px 1.19694px 0px, #000 -1.97998px 0.28224px 0px, #000 -1.87291px -0.70157px 0px, #000 -1.30729px -1.5136px 0px, #000 -0.42159px -1.95506px 0px, #000 0.56732px -1.91785px 0px, #000 1.41734px -1.41108px 0px, #000 1.92034px -0.55883px 0px, 0 0 10px #4c2781, 0 0 20px #4c2284, 0 0 30px #5b2e8d, 0 0 40px rgba(205, 171, 224, 0.5098039216);
}

@media screen and (min-width: 768px) {
  .header__title {
    font-size: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .header__title {
    font-size: 42px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-shadow: #000 2px 0px 0px, #000 1.75517px 0.95885px 0px, #000 1.0806px 1.68294px 0px, #000 0.14147px 1.99499px 0px, #000 -0.83229px 1.81859px 0px, #000 -1.60229px 1.19694px 0px, #000 -1.97998px 0.28224px 0px, #000 -1.87291px -0.70157px 0px, #000 -1.30729px -1.5136px 0px, #000 -0.42159px -1.95506px 0px, #000 0.56732px -1.91785px 0px, #000 1.41734px -1.41108px 0px, #000 1.92034px -0.55883px 0px, 0 0 10px #4c2781, 0 0 20px #4c2284, 0 0 30px #5b2e8d, 0 0 40px rgba(205, 171, 224, 0.5098039216);
  }
}
@media screen and (min-width: 1600px) {
  .header__title {
    font-size: 42px;
  }
}
.header__flex {
  height: 390px !important;
  background-image: url(../images/header.jpg);
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1200px) {
  .header__flex {
    height: 420px !important;
    background-image: url(../images/hero-2x.jpg);
    background-size: 100%;
  }
}/*# sourceMappingURL=main.css.map */